@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Kumbh Sans", sans-serif;
}

:root {
  /* Primary Colors */
  --orange: hsl(26, 100%, 55%);
  --pale-orange: hsl(25, 100%, 94%);

  /* Neutral Colors */
  --very-dark-blue: hsl(220, 13%, 13%);
  --dark-grayish-blue: hsl(219, 9%, 45%);
  --grayish-blue: hsl(220, 14%, 75%);
  --light-grayish-blue: hsl(223, 64%, 98%);
  --white: hsl(0, 0%, 100%);
  --black-lightbox: hsla(0, 0%, 0%, 0.75); /* 75% opacity */
}

p {
  font-size: 16px;
  color: var(--dark-grayish-blue);
  line-height: 25px;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav {
  display: none;
}

h1 {
  margin: 7px 0 15px 0;
}

#grid {
  margin: 0 24px;
}

#brand {
  text-transform: uppercase;
  color: var(--dark-grayish-blue);
  font-weight: 700;
  font-size: 12px;
  letter-spacing: 2px;
}

#price {
  margin: 20px 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#original-price {
  color: var(--dark-grayish-blue);
  font-weight: 700;
}

#discounted-price {
  font-weight: 700;
  font-size: 1.5em;
}

#reduced {
  color: var(--white);
  background-color: #000;
  padding: 3px 8px;
  border-radius: 5px;
  font-weight: 700;
  font-size: 16px;
  position: relative;
  left: 14px;
  bottom: 3px;
}

.quantity-wrapper {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 48px;
  border-radius: 9px;
  background-color: var(--light-grayish-blue);
}

#decrease,
#quantity,
#increase {
  border: none;
  text-align: center;
  outline: none;
  background: none;
  cursor: pointer;
}

#quantity {
  width: 65%;
  font-weight: 700;
  font-size: 16px;
}

#increase {
  position: relative;
  top: 2px;
}

#decrease {
  position: relative;
  bottom: 2px;
}

/* Chrome, Safari, Edge, Opera */
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
  appearance: textfield;
}

#add-to-cart {
  width: 100%;
  background-color: var(--orange);
  color: #000;
  border: 2px solid var(--orange);
  border-radius: 9px;
  font-weight: 700;
  padding: 12px;
  margin: 15px 0;
  box-shadow: 0 24px 12px var(--pale-orange);
}

#add-to-cart img {
  filter: brightness(0);
  margin-right: 12px;
  height: 13px;
}
